@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --amplify-background-color: #505f73;
  --amplify-secondary-contrast: rgb(31, 41, 55);
  --amplify-secondary-color: white;
  --amplify-grey: #ededed;
  --amplify-light-grey: rgb(75, 85, 99);
  --amplify-primary-color: rgb(80, 180, 229);
  --amplify-primary-tint: rgb(53, 162, 216);
  --amplify-primary-shade: rgb(61, 167, 220);
}

html {
  @apply bg-gray-800 text-white;
}
.nav-link {
  @apply py-6 px-3 hover:text-primary text-white;
}

.nav-link.active {
  @apply text-primary;
}

.btn-default {
  @apply border rounded py-2 px-3 text-white bg-gray-700 hover:bg-gray-600;
}

.btn-primary {
  @apply bg-primary text-white rounded py-2 px-3;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}
